.altura-max {
    max-height: 500px;
    overflow: hidden !important;
}

h1 {
    text-align: center;
    font-size: 64px;
    color: #2823bc
}

h5 {
    text-align: center;
    background-color: #00001a;
    font-size: 18px;
}

.productos {
    text-align: center;
    background-color: #00001a;
    font-size: 34px;
    margin-bottom: 5px;
}