header {
    display: flex;
    background-color: #252440;
    padding: 10px;
    margin-bottom: 20px; 
    justify-content: space-around;
    align-items: center;

    p {
        color: #252440;
    }

    .contenedor {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        }

    nav {

        display: flex;

        a {
            padding: 0 25px;
            color: #8a87a9;
            text-decoration: none;
            background-color: #252440; 
            font-weight: 400;
            &:hover {
                color: #8a87a9;
                background-color: #2823bc;
                font-weight: 500;
            }
        }
    }
}