header {
    display: flex;
    background-color: #00001a;
    padding: 10px;
    justify-content: space-evenly;

    p {
        color: #8a87a9;
    }

    nav {

        display: flex;

        a {
            padding: 0 10px;
            color: #8a87a9;
            text-decoration: none;
        }
    }
}