footer {
    display: flex;
    background-color: #4e4c6e;
    margin-top: 30px;
    padding: 10px;
    justify-content: space-evenly;

    p {
        color: #8a87a9;
    }
        a {
            padding: 0 10px;
            background-color: #4e4c6e;
            color: #8a87a9;
            text-decoration: none;
        }
    
}